* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v83_369 {
  width: 100%;
  height: 1117px;
  background: rgba(254,254,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v83_370 {
  width: 100%;
  height: 626px;
  background: url("../images/v83_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 218px;
  overflow: hidden;
}
.v83_372 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_374 {
  width: 67px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_523 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 755px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_525 {
  width: 321px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_375 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 3px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_377 {
  width: 53px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_526 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 755px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_528 {
  width: 52px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_378 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 3px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_380 {
  width: 226px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_529 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 755px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_531 {
  width: 226px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_381 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 3px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_383 {
  width: 207px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_547 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 3px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_549 {
  width: 207px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_532 {
  width: 531px;
  height: 46px;
  background: url("../images/v83_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 755px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_534 {
  width: 207px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_384 {
  width: 531px;
  height: 81px;
  background: rgba(212,210,63,1);
  padding: 10px 239px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v83_385 {
  width: 311px;
  color: rgba(254,254,250,1);
  position: absolute;
  top: 21px;
  left: 110px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v83_386 {
  width: 354px;
  height: 137px;
  background: url("../images/v83_386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 842px;
  overflow: hidden;
}
.v83_387 {
  width: 188px;
  color: rgba(20,20,5,1);
  position: absolute;
  top: 0px;
  left: 87px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v88_717 {
  width: 86px;
  height: 86px;
  background: url("../images/v88_717.png");
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
}
.v83_393 {
  width: 86px;
  height: 86px;
  background: url("../images/v83_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 138px;
  overflow: hidden;
}
.v83_394 {
  width: 82px;
  height: 73px;
  background: url("../images/v83_394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 2px;
  overflow: hidden;
}
.v83_395 {
  width: 86px;
  height: 86px;
  background: url("../images/v83_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v83_396 {
  width: 80px;
  height: 80px;
  background: url("../images/v83_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 274px;
  overflow: hidden;
}
.v83_397 {
  width: 528px;
  height: 46px;
  background: url("../images/v83_397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 221px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_399 {
  width: 528px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_535 {
  width: 528px;
  height: 46px;
  background: url("../images/v83_535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 973px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_537 {
  width: 528px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_520 {
  width: 528px;
  height: 46px;
  background: url("../images/v83_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 221px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_522 {
  width: 528px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_538 {
  width: 528px;
  height: 46px;
  background: url("../images/v83_538.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 973px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_540 {
  width: 528px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_427 {
  width: 531px;
  height: 42px;
  background: url("../images/v83_427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 899px;
  left: 218px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v83_429 {
  width: 208px;
  color: rgba(20,20,5,1);
  position: absolute;
  top: 14px;
  left: 165px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_514 {
  width: 289px;
  height: 40px;
  background: url("../images/v83_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 224px;
  overflow: hidden;
}
.v83_515 {
  width: 239px;
  height: 40px;
  background: url("../images/v83_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v83_516 {
  width: 239px;
  height: 40px;
  background: url("../images/v83_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v83_517 {
  width: 239px;
  color: rgba(20,20,5,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v83_541 {
  width: 378px;
  height: 40px;
  background: url("../images/v83_541.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 976px;
  overflow: hidden;
}
.v83_542 {
  width: 328px;
  height: 40px;
  background: url("../images/v83_542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v83_543 {
  width: 328px;
  height: 40px;
  background: url("../images/v83_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v83_544 {
  width: 328px;
  color: rgba(20,20,5,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v83_371 {
  width: 841px;
  color: rgba(20,20,5,1);
  position: absolute;
  top: 80px;
  left: 221px;
  font-family: Involve;
  font-weight: Regular;
  font-size: 74px;
  opacity: 1;
  text-align: left;
}
